<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>about</title>
    {% load static %}
    <link rel="icon" href="{% static 'assets/laptop.png' %}">

    <link rel="stylesheet" href="{% static 'css/about.css' %}">

</head>
<body>

<button><a href="{% url 'Products' %}">Products</a></button>
<button><a href="{% url 'home' %}">Index</a></button>
<button><a href="{% url 'sign in' %}">Sign in</a></button>
<button><a href="{% url 'gallery' %}">Gallery</a></button>

<h1>Additional information about Shopdish</h1>

<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aliquid atque deleniti dignissimos dolorem dolorum eligendi enim, porro quidem sed. Error, et fugiat laudantium molestias odit quos saepe sit unde?</span><span>Cupiditate eligendi et, id illo laboriosam maiores quaerat ratione tempore! Aut commodi distinctio ex, inventore laboriosam maxime mollitia nemo odio officia perspiciatis quaerat ratione repellat tempora tenetur unde veritatis vero.</span></p>
<hr>
<h2>Why choose us</h2>

<div id="main">
    <div class="mydiv">
        <h3>Watch1</h3>
        <img src="{% static 'assets/watch1.png' %}" alt="" class="image">
        <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad culpa cupiditate, deserunt distinctio ducimus fuga fugit id impedit inventore itaque iusto labore magnam, modi perspiciatis quod, rerum ullam. Maxime, perspiciatis.</span><span>Ab ad amet beatae commodi cumque dignissimos dolore dolorem excepturi fugiat ipsa laudantium, nihil nisi odit placeat possimus provident repellendus similique suscipit tempora voluptates? A beatae ex itaque nesciunt officia.</span></p>
        <button>More</button>
    </div>

    <div class="mydiv">
        <h3>Watch2</h3>
        <img src="{% static 'assets/watch2.png' %}" alt="" class="image">
        <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad culpa cupiditate, deserunt distinctio ducimus fuga fugit id impedit inventore itaque iusto labore magnam, modi perspiciatis quod, rerum ullam. Maxime, perspiciatis.</span><span>Ab ad amet beatae commodi cumque dignissimos dolore dolorem excepturi fugiat ipsa laudantium, nihil nisi odit placeat possimus provident repellendus similique suscipit tempora voluptates? A beatae ex itaque nesciunt officia.</span></p>
        <button>More</button>
</div>

    <div class="mydiv">
        <h3>Watch3</h3>
        <img src="{% static 'assets/watch3.png' %}" alt="" class="image">
        <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad culpa cupiditate, deserunt distinctio ducimus fuga fugit id impedit inventore itaque iusto labore magnam, modi perspiciatis quod, rerum ullam. Maxime, perspiciatis.</span><span>Ab ad amet beatae commodi cumque dignissimos dolore dolorem excepturi fugiat ipsa laudantium, nihil nisi odit placeat possimus provident repellendus similique suscipit tempora voluptates? A beatae ex itaque nesciunt officia.</span></p>
        <button>More</button>
</div>


</div>



</body>
</html>


















