<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Products offered at Shopdish</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'Bootstrap/css/bootstrap.min.css' %}">
    <script src="{% static 'Bootstrap/js/bootstrap.min.js' %}"></script>
</head>
<body>

<h1 class="text-center text-warning">Products Details</h1>
<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad alias, aliquid consequuntur, cupiditate dolores, error et facere nostrum quaerat qui quod reprehenderit similique voluptatem? Doloremque id illo omnis quam repellendus?</span><span>Deleniti dolor ducimus laudantium minus omnis pariatur praesentium quo recusandae vero voluptatum! Est fuga hic illo molestias nisi quo quos saepe voluptatum! Cupiditate distinctio impedit ipsa pariatur. Accusamus, consequuntur quos.</span></p>

<table class="table container">
    <tr>
        <th>Product Id</th>
        <th>Product Name</th>
        <th>Product Quality</th>
        <th>Product Quantity</th>
    </tr>
    <tr class="table-info">
        <td>1</td>
        <td>Wheat</td>
        <td>Good</td>
        <td>250 bags</td>
    </tr>
    <tr class="table-danger">
        <td>2</td>
        <td>Rice</td>
        <td>Good</td>
        <td>250 bags</td>
    </tr>
    <tr class="table-warning">
        <td>3</td>
        <td>Sugar</td>
        <td>Good</td>
        <td>200 bags</td>
    </tr>
    <tr class="table-light">
        <td>3</td>
        <td>Sugar</td>
        <td>Good</td>
        <td>200 bags</td>
    </tr>
    <tr class="table-success">
        <td>3</td>
        <td>Sugar</td>
        <td>Good</td>
        <td>200 bags</td>
    </tr>
</table>

</body>
</html>